{% extends "base.html" %}

{% block head %}
    <title>Inicio</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
{% endblock %}

{% block body %}
<header class="custom-header p-3">
    <h1 class="custom-header-title">Visualizador de imágenes DICOM</h1>
</header>
<main style="background-color: #e0f7fa;">
<h1>Hola, {{ user }} </h1>
<nav class="navbar">
    <div class="ml-auto">
        <a class="nav-link" href="{{ url_for('inicio') }}">Ver perfil</a>
        <a class="nav-link" href="{{ url_for('mis_imagenes') }}">Mis imagenes</a>
        <a class="nav-link" href="{{ url_for('logout') }}">Cerrar sesión</a>
    </div>
</nav>
</main>
{% endblock %}